*{
    margin: 0px;
    font-family:'Roboto', sans-serif;
   
}
body{
    margin: 20px;
}
/* Navbar start */

.navbar{
    background-color: #FFFFFF;
    width: 100%;
    height: 5.1em;
    display: inline-flex;
    font-family:'Roboto', sans-serif;
    position: fixed;
    top: 0%;
    z-index: 1;
    
}
.navbar-first-part{
background-color: white;
width: 320px;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-mono{
font-family:'Roboto', sans-serif;
font-size: 25px;
}
.navbutton{
    background-color: #EDE7F6;
    color: #5E35B1;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: none;
}
.navbutton:hover{
    padding: 0px;
    margin: 0px;
    background-color: #5E35B1;
    border-radius: 10px;
    color: #EDE7F6;
}
nav i{
    font-size: 1.2em;
    background-color: #EDE7F6;
    color: #5E35B1;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
nav i:hover{
    background-color: #5E35B1;
    padding: 10px;
    border-radius: 10px;
    color: #EDE7F6;
}
.navbar-second-part{
    margin-right: 20px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
}
#setting-hover:hover{
color: white;
background-color: #2196F3;
}
.navbar-second-part input{
    width: 30em;
    height: 45px;
    box-sizing: border-box;
    background-color: #F8FAFC;
    border: none;
    margin: 0px;
    padding: 0px;
}

.input-searchbar{
    width: 25em;
    height: 50px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border-radius: 8px;
    background-color: #F8FAFC;
    border: 1px solid #D7DBE1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-searchbar:hover{
    border-color: black;
}
.input-searchbar:active{
    border: 1px solid #1E88E5;
}
.search-icon-first{
    background-color: #F8FAFC;
    border: none;
    padding: 10px;
    margin: 0px;
}
.search-icon-last{
    font-size: 1.2em;
    background-color: #EDE7F6;
    color: #5E35B1;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px;
    margin-right: 10px;
}
.search-icon-last:hover{
    background-color: #5E35B1;
    padding: 8px;
    border-radius: 10px;
    color: #EDE7F6;
}
.nav-side-parent{
    width: 250px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

}
nav .nav-skey{
    font-size: 1.2em;
    padding: 5px 10px;
    background-color:#E3F2FD;
    color: #2196F3;
    border-radius: 5px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
}
nav .nav-skay:hover{
    background-color: #2196F3;
    padding: 5px;
    border-radius: 5px;
    color: #EDE7F6;
}
nav .nav-image{
    border-radius: 80%;
    width: 30px;
    height: 30px;
    background:cover;
}
/* Navbar End */

/* Start Sidebar */
.sidebar{
    position: relative;
}
aside{
    width: 250px;
    height: calc(100vh - 56px);
    background-color: #FFFFFF;
    z-index: 1;
    position: fixed;
    height: 100%;
    scrollbar-gutter:calc(10px);
    box-sizing: border-box;
    margin: 0px;  
    overflow: auto hidden; 
}
aside:hover{
    overflow: auto;
}


aside::-webkit-scrollbar{
    width: 6px;
}
aside::-webkit-scrollbar-track{
   border-radius: 10px;
}
aside::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #788392;
 }

aside .sidebar ul{
    padding: 0px;
    color: rgb(18, 25, 38);
    font-size: 0.875rem;
    color: rgb(18, 25, 38);
    line-height: 50px;
    background-color: white;
    display: block;
    flex-wrap: wrap;
    border-bottom: 1px solid #EDE7F6;
    padding-bottom: 8px;
    
}

.sidebar ul li{
     padding: 18px 27px;
     color:#364152;
     margin-bottom: 8px;
     display: block;
     flex-direction: row;
     line-height: 10px;
 
    }
aside .sidebar ul li:hover{
        color: #512EA9;
        background-color: #EDE7F6;
        border-radius: 10px;
    }
#disable{
        background-color: white;
        color: rgb(132, 133, 135);
    }

#disable:disabled{
        background-color: white;
        color: rgb(132, 133, 135);
    }
    #disable:hover{
        background-color: white;
        color: rgb(132, 133, 135);
    }

    
aside ul li a{
        text-decoration: none;
        color:inherit;
        align-items: center;
    }

aside  ul li i{
    font-size: 1.1em;
    padding-right: 10px;
}
aside ul li .bages{
    background-color: #2196F3;
    border: 1px solid #2196F3;
    color: white;
    font-size: 0.875rem;;
    border-radius: 48%;
    padding: 6px 10px;

}
aside ul li .beges-perent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .box{
    background-color:#E3F2FD;
    width: 220px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px;
    color: #2196F3;
    font-size: 0.9em;
    line-height: 16px;
    
}
.box i{
    background-color: white;
    padding: 14px;
    border-radius: 10px;
    font-size: 1.2em;
}
#file{
    width: 180px;
}
aside .version span{
    background-color: #f8f4f4;
    border-radius: 14px;
    color: rgb(132, 133, 135);
    padding: 4px;
}
aside .version{
    text-align: center;
}
aside a{
    text-decoration: none;
}
/* dropdown */

#dropdown-content{
    width: 200px;
    background-color: white;
    padding-left: 10px;
    border-left: 1px solid #EDE7F6;
    display: flexbox;
    flex-direction: row;
    margin-left: 40px;
    position: relative;
    display: none;
}
#dropdown-content div{
    margin: 0px;
    padding: 0px;
}

#dropdown-content a{
    display:block;
    color: rgb(132, 133, 135);
}
#dropdown-content a:hover{
    color: #512EA9;
    background-color: none;
}
#dropdown>div:hover{
    display: block;
}
   
/* End Sidebar */
@media screen and (max-width: 900px){
.navbar-first-part{
background-color: white;
width: 260px;
height: 5.1em;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
position: fixed;
z-index: 1;
}
.nav-mono{
margin: 10px;
font-family: 'Roboto', sans-serif;
z-index: 1;
}
.navbutton{
    display: none;
}
.navbar-second-part{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    z-index: 0;
    background-color: rgb(132, 133, 135, 0.2);
}


/* side-Bar */
    .sidebar{
        position: relative;
        z-index: 1;
    }
    aside{
        width: 230px;
        overflow: auto;
    }
    }

    /* <!-- Maint containt start --> */
    main{
        margin-left: 258px;
        width: calc(100%-260px);
        height: 980px;
        margin-top: 88px;
        background-color: rgb(238, 242, 246);
        border-radius: 10px;
        position: relative;
        z-index: 0;
        
    }
    #maincontaint{
        box-sizing: border-box;
        width: calc(100%-260px);
        padding: 20px;
        border-radius: 20px;
        display: inline-flex;
        justify-content: space-between;
        z-index: 0;
    }
    .main{
        width:690px;
        height: 100px;
    }
    .revenue-border{
        width:690px;
        display: inline-flex;
        justify-content: space-between;
    }
    .left-main{
        box-sizing: border-box;
        width: 340px;
        height: 130px;
        border-radius: 10px;
        background-color: #673AB7;
        padding: 20px;
        color: white;
        line-height: 32px;
        font-size: 14px;
        font-style: inherit;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    .leftinner-right{
        font-size: 60px;
        color: #B39CDB;
        background-color: #7E57C2;
        border: 9px solid #B39CDB;
        border-radius: 100%;
        padding: 10px 20px;
        text-align: center;
        letter-spacing: 0em;
        font-weight: 400;
    }
    .right-main{
        box-sizing: border-box;
        width: 340px;
        height: 130px;
        border-radius: 10px;
        background-color: #2196F3;
        padding: 20px;
        color: white;
        line-height: 32px;
        font-size: 15px;
        font-style: inherit;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    .rightinner-right{
        font-size: 60px;
        color: #90CAF9;
        background-color: #42A6F5;
        border: 9px solid #90CAF9;
        border-radius: 100%;
        padding: 10px 12px;
        text-align: center;
        letter-spacing: 0em;
        font-weight: 500px;
    }
    .tableheader{
        margin-top: 20px;
        background-color:white;
        width: 630px;
        height: 20px;
        color: black; 
        display: flex;
        justify-content: left;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-right: 20px;
        padding: 30px;
        z-index: 1;
        border-bottom: 1px solid  #EDE7F6;
    }
    .customers-table{
        box-sizing: border-box;
        width:690px;
        height: 360px;
        background-color: white;
        border: none; 
        overflow: auto hidden;
    }
    .customers-table:hover{
        overflow: auto; 
    }
   
    .customers-table::-webkit-scrollbar{
        width: 6px;
    }
    .customers-table::-webkit-scrollbar-track{
       border-radius: 10px;
    }
    .customers-table::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #788392;
     }
    .customers-table tr{
        font-size: 14px;
        color: rgb(132, 133, 135);
        line-height: 40px;

    }
    .customers-table tr:hover{
        background-color: #F8FAFC;
        border-color: #F8FAFC;
        border: none;
    }
    .customers-table td, th{
        border-bottom: 1px solid #EDE7F6;
        padding: 5px 15px;
        color: #281926;
        text-align: left;
    }
    .customers-table td span{
        font-size: 20px;
        font-weight: 100px;
        z-index: 0;
    }
    .customers-table tr th{
        width: 350px;
        margin: 0px;
    }
    .customers-table tr th:last-of-type{
        text-align: right;
    }
    .customers-table tr td:last-of-type{
        text-align: right;
    }
    .tablefooter{
        text-align: left;
        box-sizing: border-box;
        background-color: white;
        width: 690px;
        color: #42A6F5; 
        font-size: 14px;
        height: 70px;
        display: flex;
        justify-content: right;
        align-items: center;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-right: 24px;
        border-top: 1px solid  #EDE7F6;
    }


    .sidebar-right{
        width:380px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .innersidebar-right{
        width:380px;
        height: 200px;
        display: flex;
        justify-content: center;
    }
    .sidebar-right td{
        box-sizing: border-box;
        width: 170px;
        height: 100px;
        background-color: white;
        text-align: center;
        padding: 20px;
        font-size: 14px;
        display: inline-flex;
        justify-items: center;
        align-items: center;
        border: 1px solid #EEF2F6  ;
    }
    .sidebar-right .icons{
        background-color: #E3F2FD;
        color: #673AB7;
        box-sizing: border-box;
        width: 48px;
        height: 50px;
        padding: 10px;
        border-radius: 12px;
        font-size: 24px;
        margin-right: 20px;
        text-align: center;

    }
    .revenue{
        margin: 20px 20px 0px 20px;
        width: 340px;
        height: 80px;
        background-color: white;
        box-sizing: border-box;
        padding: 30px;
        font-size: 18px;
        color: black;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;;
        border-bottom: 1px solid   #EDE7F6;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

    }
    .totalRevenue-table{
        margin-left: 20px;
        width:340px;
        height: 400px;
        background-color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        overflow: auto hidden;
    }
    .totalRevenue-table:hover{
        overflow: auto;
    }
    .totalRevenue-table::-webkit-scrollbar{
        width: 6px;
    }
    .totalRevenue-table::-webkit-scrollbar-track{
       border-radius: 10px;
    }
    .totalRevenue-table::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: #788392;
     }

    .revenue-list{
        display: inline-flex; 
        width: 320px; 
        justify-content: space-between;
        border-bottom: 1px solid  #EDE7F6;
        font-size: 14px;
    }
    .greenicon{
        padding-right:10px; 
        color: #00C853;
        padding: 20px;
    }
    .redicon{
        padding-right:10px; 
        color: red;
        padding: 20px;
    }
    .revenue-list:hover{
        background-color: #EDE7F6;
        border-color: #EDE7F6;
        border: none;
    }
    
    .daily-user{
        margin: 20px;
        width: 340px;
        height: 100px;
        background-color: #673AB7;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 30px;
        color: white;
        position: relative;
        overflow: hidden;   
        z-index: 1; 

    }
    .daily-user-icon{
        text-align: left;
        margin: 0px;
        font-size: 60px;
        color: #9C7FD0;
        background-color: #673AB7;
        border: 9px solid #9C7FD0;
        border-radius: 100%;
        padding: 10px 12px;
        letter-spacing: 0em;
        font-weight: 500px;
        position: absolute;
        top: 20px;
        left: 10px;
        display: block;
        transform-origin: 0px 0px;
        transform: rotateZ(20deg);
    }
    .daily-view-icon{
        text-align: left;
        margin: 0px;
        font-size: 85px;
        color: #90CAF9;
        border: none;
        border-radius: 100%;
        padding: 10px 12px;
        letter-spacing: 0em;
        font-weight: 500px;
        position: absolute;
        top: 20px;
        left: 10px;
        display: block;
        transform-origin: 0px 0px;
        transform: rotateZ(20deg);
    }
    .setting-box{
        margin-left: 75.2%;
        padding: 15px;
        background-color: #512EA9;
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 200px;
        border-radius: 100% 100% 20% 100%;
        box-shadow: 0px 10px 15px 0  rgb(127, 107, 214, 0.5);

    }
    .setting-animation{
        animation-name: spinner;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
    }
    @keyframes spinner{
        100%{ transform: rotate(100deg);}
    }
    
/* difault start */
#default{
background-color: #1E88E5;
color: white;
font-size: 100px;
}
/* difault End */

         /* <!-- Maint containt End --> */

